*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

a{
  text-decoration: none;
}

.allHeadingAdjust{
  padding: 1rem;
}