

footer{
    display: none;
}

@media (max-width:1024px){ 



footer {
    display: flex;
    height: 100%;
    /* background-color: rgb(0, 0, 0); */
    color: #8b8a91;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #1c1b23;
    border-radius: 20px;
    margin-top: 56px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footercenter {
    padding: 5px;
    margin-top: 33px;
    font-size: 21px;
}



.smicon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
    gap: 9px;
   
}


}