.section {

    position: fixed;
    top: 70px;
    padding: 1rem;
   
}

.activecolor {
    display: flex;
    color: #4f4f52;
    padding: 21px;
    gap: 25px;
    font-size: px;

}

.hide {
    visibility: hidden;
}


.respleft-side {
    padding: 1.25rem;
    background-color: #14131a;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    width: 195%;
    height: 200vh;

}
.social-set {
    font-size: 40px;

}

.social-trans {

    transition: transform 0.3s ease;
}

.social-trans:hover {
    transform: scale(1.1);
  
}

.resp{
    display: none;
}

.feedback-btn2 {

    color: white;
    font-size: 20px;
    line-height: 1rem;
    background-color: #2bd576;
    border-radius: 2.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 170px;
}

.feedback-btn2:hover{
    background-color: #09602e;
}




@media (max-width: 768px) {
    

    .resp{
        display: block;
    }


}
@media (max-width: 1024px) {
    

    .resp{
        display: block;
    }


}